.v-catalog__link {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: $padding*2;
  border: 1px solid rgba(70,70,60,0.3);
}
.btn {
  cursor: pointer;
  background-color: #6ca277;
  padding: $padding*2 $padding*4;
  border: none;
  color: white;
  text-transform: uppercase;
  &:hover, &:active, &:focus {
    background-color: #53915f;
  }
}
.del {
  @extend .btn;
  background-color: #ce4850;
  padding: $padding*2;
  cursor: pointer;
  &:hover, &:active, &:focus {
    background-color: #a92a32;
  }
}